C:\Users\nariv\OneDrive\JupyterN\streamlit_local\pesticides\data_sources\CA_PUR\pur2022_ftp_files\udc22_*

C:\Users\nariv\OneDrive\JupyterN\streamlit_local\pesticides\data_sources\CA_PUR\pur2022_ftp_files\errors2022.txt

C:\Users\nariv\OneDrive\JupyterN\streamlit_local\pesticides\data_sources\AgComm_Stanislaus\merged_pur_sites_fieldbds.geojson

C:\Users\nariv\OneDrive\JupyterN\streamlit_local\pesticides\data_sources\CA_Dept_Education\California_Private_Schools.geojson

C:\Users\nariv\OneDrive\JupyterN\streamlit_local\pesticides\data_sources\CA_Dept_Education\SchoolSites2324_1647203305444761460.geojson